@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Helvetica Neue", Arial, sans-serif;
  --font-serif: "Inter", "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: #f0f4f8;
}
